<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/mp3.css" rel="stylesheet" />
    <link href="~/Content/searchstyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap5/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <script src="https://kit.fontawesome.com/26504e4a1f.js" crossorigin="anonymous"></script>

    <style>
        a:link {
            color: #0a47ff;
            text-decoration: none;
        }

        a:visited {
            color: black;
            text-decoration: none;
        }

        a:hover {
            color: black;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div id="div-content">
        <div class="div-left">
            <div class="div-left">
                <img class="logo"src="~/Picture/logo.png" />
                <ul style="list-style:none">
                    <li>
                        <a href="Home1" style="font-size: large; color: white; position:absolute; left: 40px;top:150px;">
                            <i class="bi bi-house-door"></i>
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li>
                        <a href="Search" style="font-size: large; color: white; position:absolute; left: 40px; top: 200px;">
                            <i class="bi bi-search"></i>
                            <span>Tổng hợp nhạc</span>
                        </a>
                    </li>
                    <li>
                        <a href="Library" style="font-size:large; color: white; position: absolute;left: 40px; top: 250px;">

                            <i class="bi bi-collection-play"></i>
                            <span>Thư viện</span>
                        </a>
                    </li>
                </ul>
            </div>
                <div id="masterImg">
                    <img src="~/Baihat/1.png">
                </div>
            </div>
        <div class="div-top">
            
        </div>
        <div class="div-right">
            @RenderBody()
            <div class="container">
                <img src="~/Picture/anh-dong-meo-va-ga-con-de-thuo-unscreen.gif" id="meoxanhgif" />
                <div class="songlist">
                    <div class="songitemcontainer">
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="0" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp1">03:35</span></span>

                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="1" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp2">02:28</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="2" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp3">03:35</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="3" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp4">03:49</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="4" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp5">02:47</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="5" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp6">04:40</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="6" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp7">04:43</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="7" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp8">03:37</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="8" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp9">04:07</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="9" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp10">04:20</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="10" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp11">03:38</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="11" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp12">04:20</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="12" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp13">04:25</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="13" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp14">04:25</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="14" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp15">03:51</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="15" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp16">03:38</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="16" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp17">04:20</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="17" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp18">04:25</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="18" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp19">04:25</span></span>
                        </div>
                        <div class="songitem">
                            <i class="fas play-icon fa-1x fa-play" id="18" style="margin-top:30px"></i>
                            <img alt="1" />
                            <span class="songName"></span>
                            <span class="songlistplay"><span class="timestamp20">04:25</span></span>
                        </div>

                    </div>
                </div>
                <div class="songbanner"></div>
            </div>
        </div>
    </div>
    <div id="div-footer">
        <div class="bottom">
            <input type="range" name="range" id="progressbar" min="0" value="0" max="100" />
            <div class="control">
                <i class="fas fa-2x fa-backward" id="playback" ></i>
                <i class="fas fa-2x fa-play" id="masterplay"></i>
                <i class="fas fa-2x fa-forward" id="playnext" ></i>
            </div>
        </div>
        
        <span id="masterSongName">An Thần - ft Thắng  Low G  Rap Nhà Làm</span>
        </div>
        <script src="~/Content/mp3forsearch.js"></script>
</body>
</html>
