
@{
    ViewBag.Title = "Library";
    Layout = "~/Views/Shared/_Library.cshtml";
}


<h2 style="margin-left:60px;margin-top:80px;margin-bottom:10px;color:white;">
    Các chủ đề có lẽ bạn muốn nghe
</h2>

<div class="container-fluid">
    <div class="row">
       
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="NV">
                <div class="box1" style="background-color: #FF9900; ">
                    <h3 style="position:center;color:white">
                        Nhạc Việt
                    </h3>
                    <img src="~/Picture/nhạc việt.jpg" class="size-img" />
                </div>
                </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="NP">
                <div class="box1" style="background-color:green;">
                    <h3 style="position:center;color:white">
                        Nhạc Pop
                    </h3>
                    <img src="~/Picture/hình nhạc pop.jpg" class="size-img" />
                </div>
                </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="NR">
                <div class="box1" style="background-color: #33CC33; ">
                    <h3 style="position:center;color:white">
                        Nhạc Remix
                    </h3>
                    <img src="~/Picture/nhạc thịnh hành.jpg" class="size-img" />
                </div>
                </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="RAP">
                <div class="box1" style="background-color: #6666FF; ">
                    <h3 style="position:center;color:white">
                        Rap
                    </h3>
                    <img src="~/Picture/nhạc rap.jpg" class="size-img" />
                </div>
                </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="USUK">
                <div class="box1" style="background-color: #993300; ">
                    <h3 style="position:center;color:white">
                        US-UK
                    </h3>
                    <img src="~/Picture/nhạc us-uk.jpg" class="size-img" />
                </div>
                </a>
        </div>
        
    </div>
</div>


